<h1>Products</h1>

<div class="card">
  <div class="card-head">Lorem ipsum - Product 1</div>

  <div class="card-body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus mollitia eos
    laborum expedita nam quaerat optio adipisci aut enim, maiores veritatis
    totam ab, dolor corporis consequuntur provident temporibus inventore
    dolorem.
  </div>
</div>

<div class="card">
  <div class="card-head">Lorem ipsum - Product 1</div>

  <div class="card-body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus mollitia eos
    laborum expedita nam quaerat optio adipisci aut enim, maiores veritatis
    totam ab, dolor corporis consequuntur provident temporibus inventore
    dolorem.
  </div>
</div>
<div class="card">
  <div class="card-head">Lorem ipsum - Product 1</div>

  <div class="card-body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus mollitia eos
    laborum expedita nam quaerat optio adipisci aut enim, maiores veritatis
    totam ab, dolor corporis consequuntur provident temporibus inventore
    dolorem.
  </div>
</div>
